<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
      <h3>Welcome, <%= current_user.username %>!</h3>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token">
        <input type="hidden" name="_method" value="delete">

        <input type="submit" value="Log out">
      </form>
    <% else %>

      <form action="<%= new_user_url %>" method="post">
        <input type="hidden" name="authenticity_token">
        <input type="hidden" name="_method" value="get">

        <input type="submit" value="Sign up!">
      </form>

      <form action="<%= new_session_url %>" method="post">
        <input type="hidden" name="authenticity_token">
        <input type="hidden" name="_method" value="get">

        <input type="submit" value="Log in">
      </form>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <ul><li><%= error %></li></ul>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
